extends layout
block content
  script(src="/js/skin.js")
  p Welcome, #{user.username}
  P Your friends:
  each fr in user.friends
    p #{fr.username}

  .acc-skins
    h1 Skins
    each skin in user.skins
      .acc-skin
        | #{skin.name}
        img(src="textures/"+skin.imgPath alt=skin.name height="42" width="42") 
        if(user.equippedSkin.name === skin.name)
          button(type="button" onclick="equip_skin(\"" + skin.name + "\")" id=skin.name disabled) equipped
        else
          button(type="button" onclick="equip_skin(\"" + skin.name + "\")" id=skin.name) equip
    else
      p No skins